<header>
    <a href="" class="logo">ACOUNTING CYCLE</a>

    <!-- for smaller screen -->
    <input type="checkbox" name="menu-bar" id="menu-bar">
    <label for="menu-bar">Menu</label>


    <nav class="navbar">
        <ul>
            <li><a href="">Companys +</a>
                <ul>
                    <li><a href="/companies/new">New</a></li>
                    <li><a href="/companies">show</a></li>
                </ul>
            </li>
            <li><a href="">Accounts +</a>
                <ul>
                    <li><a href="/accounts/new">New</a></li>
                    <li><a href="/accounts">show</a></li>
                </ul>
            </li>
            <li><a href="">Entries +</a>
                <ul>
                    <li><a href="/entries/new">New</a></li>
                    <li><a href="/entries">show all +</a>
                    <li><a href="/entries/GeneralJournal">General Journal</a></li>
                    <li><a href="/entries/adjustment">post adjustment</a></li>
                    <li><a href="/entries/closing">post closing</a></li>
                    <!-- <ul>
                            <li><a href="">show normal</a></li>
                            <li><a href="">show adjusted</a></li>
                            <li><a href="">show closing</a></li>
                        </ul> -->
            </li>
        </ul>
        </li>
        <li><a href="">Trial Balance +</a>
            <ul>
                <li><a href="">show all</a></li>
                <li><a href="/trial_balance"> normal</a></li>
                <li><a href="/trial_balance/adjusted">Post adjustment</a></li>
                <li><a href="/trial_balance/closed">Post closing</a></li>
            </ul>
        </li>
        <li><a href="">Fiscal Sheets +</a>
            <ul>
                <li><a href="">show all</a></li>
                <li><a href="/financial_statements/income_statment">income statment</a></li>
                <li><a href="/financialStatements/owner_capital_statement">owner capital statement</a></li>
                <li><a href="/financial_statements/balance_sheet">balance sheet</a></li>
            </ul>
        </li>
        </ul>
    </nav>
</header>