<% layout('layouts/boilerplate')%>
<h2>New Entry</h2>



<form action="/entries" method="POST" class="form">
    <!-- 1 ENTRY -->

    <label for="account_ID">Entry No.:</label>
    <input type="number" id="entry_ID" name="entry_ID" placeholder="Entry No.">
    <!-- ============= S. NO.============= -->

    <br>

    <label for="flag">Select Flag:</label>
    <select name="flag" id="flag">
        <% for(let flag of flags){ %>
        <option>
            <%=flag%>
        </option>
        <% } %>
    </select>

    <br>

    <!-- <label for="date">Entry Date:</label>

    <input type="date" name="date" id="date" placeholder="Entry Date"> -->
    <label for="date">Date</label>
    <input id="today" type="date">

    <!-- ============= DATE ============= -->

    <br>

    <label for="account_name">Select Account:</label>
    <select name="account_name" id="account_name">
        <% for(let account of accounts){ %>
        <option value="<%=account.account_Name%>">
            <%=account.account_Name%>
        </option>
        <% } %>
    </select>


    <br>
    <label for="debit"> debit:</label>
    <input id="debit" name="debit" type="number" placeholder="debit">
    <!-- DEBIT -->

    <br>
    <label for="credit"> credit:</label>
    <input id="credit" name="credit" type="number" placeholder="credit">
    <!-- CREDIT -->
    <br>
    <br>
    <button>Add Entry</button>

</form>